body {
  margin: 0;
  font-family: "Raleway", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

.pagination li {
  display: inline-block;
  width: 50px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination li a {
  color: #000;
}

.pagination li.active a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  /* padding: 5px; */
  border-radius: 100%;
  cursor: pointer;
  background-color: #919191;
  color: white;
}
